# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Hardhat files
cache
artifacts

# Packages
*.gz

#misc
*.txt
node_modules
.env
coverage
coverage.json
typechain
typechain-types


